<nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="fa fa-chevron-down"></span> <b>Menu</b>
          </button>
            <img src="../images/joblisto.png" width="300px">
            <!-- <a class="tagline">Share ( U+Me )</a> -->
            <!-- <a class="navbar-brand" href="#">Sum (Share U + M)</a> -->
        </div>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Logout</a></li>
                <li><a ui-sref="jobs({ user_id: $ctrl.user_id })">Jobs</a></li>
                <li><a ui-sref="mentors({ user_id: $ctrl.user_id })">Friends</a></li>
                <li><a ui-sref="companies({ user_id: $ctrl.user_id })">Companies</a></li>

                <!-- <li><a href="/profile/{{ $ctrl.user_id }}/jobs">Jobs</a></li>
                <li><a href="/profile/{{ $ctrl.user_id }}/friends">Friends</a></li>
                <li><a href="/profile/{{ $ctrl.user_id }}/companies">Companies</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <div class="col-sm-12 panel-body-companies">
        <h3>Edit Job</h3>
        <!-- <div class="add-job-button"> -->
        <!-- <a ui-sref="add({ user_id: $ctrl.user_id })" class="btn btn-primary-unemailed" role="button" ng-click="$ctrl.setJobId(job.id)">Add Job</a> -->
        <!-- <a href="/profile/{{ $ctrl.user_id }}/add" class="btn btn-primary-unemailed" role="button" ng-click="$ctrl.setJobId(job.id)">Add Job</a> -->
    </div>

    </div>
    <div class="col-sm-12" ng-if="!$ctrl.jobEdit[job.id]">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ $ctrl.job.name }}</h3>
                <p class="timestamp"><b>Updated:</b> {{ $ctrl.job.updated_at }}</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <img src="{{ $ctrl.job.image_url }}" alt="...">
                </div>
                <div class="col-sm-9 caption">
                    <form name="updateJobForm" id="updateJobForm" ng-submit="$ctrl.updateJob($ctrl.job.id)">
                        <!-- <a href="#" class="btn btn-danger bottom-left" role="button" ng-click="$ctrl.deleteJob($ctrl.job.id)">Delete</a> -->
                        <a href="#" class="btn btn-warning bottom-right" role="button" ng-click="$ctrl.cancelEdit()">Cancel</a>
                        <button type="submit" class="btn btn-success bottom-right">Submit</button>
                        <p><b>Applied:</b> {{ $ctrl.job.created_at }}</p>
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" ng-value="$ctrl.job.name" ng-model="$ctrl.job.name" required>
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputJobTitle">Job Title:</label>
                            <input type="text" class="form-control" id="InputJobTitle" aria-describedby="nameHelp" ng-value="$ctrl.job.job_title" ng-model="$ctrl.job.job_title" required>
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputLocation">Location:</label>
                            <input type="text" class="form-control" id="InputLocation" aria-describedby="nameHelp" ng-value="$ctrl.job.location" ng-model="$ctrl.job.location">
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputContact">Contact:</label>
                            <input type="text" class="form-control" id="InputContact" aria-describedby="nameHelp" ng-value="$ctrl.job.contact" ng-model="$ctrl.job.contact">
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputDescription">Description</label>
                            <textarea class="form-control" id="InputDescription" rows="10" ng-value="$ctrl.job.description" ng-model="$ctrl.job.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="InputJobUrl">Job Listing URL</label>
                            <input type="text" class="form-control" id="InputJobUrl" aria-describedby="imageUrlHelp" ng-value="$ctrl.job.listing_url" ng-model="$ctrl.job.listing_url">
                            <small id="imageUrlHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputImageUrl">Image Url</label>
                            <input type="text" class="form-control" id="InputImageUrl" aria-describedby="imageUrlHelp" ng-value="$ctrl.job.image_url" ng-model="$ctrl.job.image_url">
                            <small id="imageUrlHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="InputCoverLetter">Cover Letter Submitted</label>
                            <textarea class="form-control" id="InputCoverLetter" rows="10" ng-value="$ctrl.job.cover_letter" ng-model="$ctrl.job.cover_letter"></textarea>
                        </div>
                        <!-- <div class="form-check">
                                <label class="form-check-label">
                                  Is this job for sale?
                                  <input type="checkbox" class="form-check-input" ng-model="sale">
                                </label>
                              </div>
                              <div class="form-group" ng-show="sale">
                                <label for="InputPrice">Price</label>
                                <input type="number" class="form-control" id="InputPrice" aria-describedby="pricelHelp" placeholder="$" ng-model="$ctrl.data.price">
                                <small id="pricelHelp" class="form-text text-muted"></small>
                              </div>
                              <hr> -->
                        <label for="InputImageUrl">Companies assigned to this Job</label>
                        <div class="row padding">
                            <div ng-repeat="company in $ctrl.checkedCompanies">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="checkbox">
                                        <label ng-if="company.checked==true"><input type="checkbox" name="company" value="{{ company.id }}" ng-click="$ctrl.companyChecked(company.id)" checked>{{ company.name }}</label>
                                        <label ng-if="!company.checked==true"><input type="checkbox" name="company" value="{{ company.id }}" ng-click="$ctrl.companyChecked(company.id)">{{ company.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger bottom-left" role="button" ng-click="$ctrl.deleteJob($ctrl.job.id)">Delete</a>
                        <a href="#" class="btn btn-warning bottom-right" role="button" ng-click="$ctrl.cancelEdit()">Cancel</a>
                        <button type="submit" class="btn btn-success bottom-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
